*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

form {
    margin-top: 50px;
}

input[type="password"] {
    padding: 5px;
    width: 200px;
}

button {
    height: 50px;
    width: 100px;
    background-color: #2348ac;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

#resultado1 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
}

#resultado2 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
